// Place all the styles related to the public/goods_reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#goods_review > img {
  width: 60px;
}

button > a {
  text-decoration: none;
}

.fa-heart:before {
    color: #FF0000;
}

#sab-nav-link > a {
  color: #2E2963;
}

#filtering-layout > button {
  margin-right: 100px;
}
