// Place all the styles related to the public/groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#group-chats {
  height: 500px;
  overflow-y: scroll;
}

#comment-profile-image {
  position: relative;
  width: 5%;
}

#comment-profile-image > image {
  position: absolute;
}

#comment-body {
  width: 90%;
}

#comment-edit {
  width: 5%;
}

#group-sideber-top {
  height: 300px;
}