// Place all the styles related to the public/members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#error_explanation {
  text-align: center;
}

#error_explanation > ul {
  padding-left: 180px;
  list-style-position: outside;
  text-align: start;

}

#profile-image {
  width: 150px;
  height: 180px;
}

#profile-table > table ~ tr > th, td {
  height: 60px;
}

#profile-table > table > tbody > tr > th {
  width: 35%;
}

#member-group-table > thead > tr > th:nth-of-type(1) {
  width: 10%;
}

#member-group-table > thead > tr > th:nth-of-type(2) {
  width: 10%;
}

#member-group-table > thead > tr > th:nth-of-type(3) {
  width: 10%;
}

#member-group-table > thead > tr > th:nth-of-type(4) {
  width: 5%;
}

#member-group-table > thead > tr > th:nth-of-type(5) {
  width: 30%;
}

#member-group-table > thead > tr > th:nth-of-type(6) {
  width: 3%;
}

#member-group-table > thead > tr > th:nth-of-type(7) {
  width: 8%;
}

#member-index-table > tbody > tr > td:nth-of-type(1) {
  width: 3%;
}

#member-index-table > tbody > tr > td:nth-of-type(2) {
  width: 15%;
}

#member-index-table > tbody > tr > td:nth-of-type(3) {
  width: 40%;
}

#member-index-table > tbody > tr > td:nth-of-type(4) {
  width: 10%;
}

#member-index-table > tbody > tr > td:nth-of-type(5) {
  width: 11%;
}

#member-index-table > tbody > tr > td:nth-of-type(6) {
  width: 11%;
}