<div class="border-bottom" id="about-image">
  <div class="container">
    <div class="row mx-auto pt-5 pb-5 justify-content-center" id="about-background-color">
      <h2 class="text-center text-light">About</h2>
      <div class="col-9 mt-3">
        <h5 class="d-flex justify-content-center text-light">Gamersでは、ゲーム・ゲームグッズのレビューや、</h5>
        <h5 class="d-flex justify-content-center text-light">ゲームレビューからグループを作ることで、</h5>
        <h5 class="d-flex justify-content-center text-light">同じゲームを楽しいと思える人を集め、</h5>
        <h5 class="d-flex justify-content-center text-light">チャットで一緒に遊ぶ時間を共有する事が出来ます。</h5>
      </div>
    </div>
  </div>
</div>