<div class="row mt-4 pb-4 border-bottom">
  <h2 class="text-center">ジャンル一覧・登録</h2>
</div>

<div class="row border-bottom justify-content-center">
  <div class="col-9 mt-5 pb-5 ps-0 ">
    <div class="col-5 offset-3">
      <div>
        <p class="fs-2">ジャンル名入力</p>
      </div>

      <%= form_with model: @genre, url: admin_genres_path do |f| %>
        <div class="field">
          <%= f.text_field :genre_name, autofocus: true, autocomplete: "genre_name", placeholder: "ジャンル名を入力してください。", class:"form-control" %>
        </div>

        <div class="actions mt-4 text-center">
          <%= f.submit "登録", class:"btn btn-info btn-lg link-light fw-bold btn-block" %>
        </div>
      <% end %>

      <ul class="list-group mt-4">
        <% @genres.each do |genre| %>
        <li class="list-group-item text-center"><%= genre.genre_name %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>