<div class="border-bottom" id="adomin-top-image">
  <div class="container">
    <div class="row mx-auto pt-5 pb-5 justify-content-center" id="about-background-color">
      <h2 class="text-center text-light">管理者様へ</h2>
      <div class="col-9 mt-3">
        <h5 class="d-flex justify-content-center text-light">管理者画面では登録している会員や、</h5>
        <h5 class="d-flex justify-content-center text-light">投稿されたゲーム・ゲームグッズのレビュー、</h5>
        <h5 class="d-flex justify-content-center text-light">またコメントの管理が出来るほか、</h5>
        <h5 class="d-flex justify-content-center text-light">ゲームのレビューを会員がする際、</h5>
        <h5 class="d-flex justify-content-center text-light">選択して頂くジャンルの設定が出来ます。</h5>
      </div>
    </div>
  </div>
</div>