<div class="row mt-4 border-bottom">
  <h2 class="text-center"><%= @member.member_name %>さんのフォロワー一覧</h2>
  <div class="col-12 d-flex flex-row" id="sab-nav-link">
    <a class="ms-3">
      <%= link_to member_path(@member) do %>
        <%= @member.member_name %>さんのマイページ
      <% end %>
    </a>
  </div>
</div>

<div class="container">
  <% if @followers.present? %>
    <%= render "public/members/index", members: @followers %>
  <% else %>
    <h6 class="text-center mt-5 pb-5 px-5 border-bottom">
      フォローをされていません。
    </h6>
  <% end %>
</div>