// Place all the styles related to the admin/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#adomin-top-image {
  height: 380px;
  background-image: image-url("puzzle-gb2ca4e25b_1920.jpg");
  background-size: cover;
}