<nav class="navbar navbar-light  border-bottom mt-3 pb-0 d-flex flex-column">
  <div class="col-11">
    <a class="p-0 navbar-brand" href="/">
      <h1 class="text-center">Gamers</h1>
    </a>
  </div>

  <div class="col-11 mt-3 d-flex flex-row justify-content-start">
    <div class="col-4">
      <ul class="d-flex flex-row list-unstyled">
        <li class="nav-link">
          <%= link_to "ジャンル一覧", admin_genres_path, class:"text-decoration-none link-dark" %>
        </li>
        <div class="vr"></div>
        <li class="nav-link">
          <%= link_to "会員一覧", admin_members_path, class:"text-decoration-none link-dark" %>
        </li>
        <div class="vr"></div>
        <li class="nav-link">
          <%= link_to "レビュー一覧", admin_game_reviews_path, class:"text-decoration-none link-dark" %>
        </li>
        <div class="vr"></div>
        <li class="nav-link">
          <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class:"text-decoration-none link-dark" %>
        </li>
      </ul>
    </div>

    <div class="col ms-auto">
      <div class="d-flex justify-content-end">
        <div class="nav-link">
          <p class="link-dark">検索窓</p>
        </div>
      </div>
    </div>
  </div>
</nav>